@import url("./variables.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

ul{
    list-style-type: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--bg-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;

    .foto-user{
        width: 3em;
    }
}

#buscador{

    width: 100%;
    max-width: 800px;
    height: 2.3em;

    background-color: var(--bg-secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;

    .fa-solid{
        color: gray;
    }
}

#input{
    width: 80%;
    height: 100%;
    border: none;
}
#input:active{
    border: none;
    border-color: white;
}

#categorias-container{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    width: 100%;
    .filtros{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            gap: 1em;
            li{
                background-color: white;
                padding: 5px;
                border-radius: 10px;
            }
        }
    }
}

.categorias{
    display: flex;
    gap: 1em;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 4em;
            height: 4em;
            border-radius: 50%;
        }
    }

    overflow: auto hidden;
    scrollbar-width: none;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1em;
    padding-bottom: 8em;
}

.boton{
        color: white;
        font-size: 1.2em;
        background-color: transparent;
        border: 1.4px solid white;
        width: fit-content;
        padding: .5em;
        border-radius: .5em;
}

.boton:hover{
        color: black;
        font-size: 1.2em;
        background-color: white;
        border: 1.4px solid white;
        width: fit-content;
        padding: .5em;
        border-radius: .5em;
        cursor: pointer;
}

.boton-2{
        color: white;
        font-size: 1.2em;
        background-color: var(--color-oferta-2);
        border: none;
        width: fit-content;
        padding: .5em;
        border-radius: .5em;
}

.boton-2:hover{
        color: pink;
        font-size: 1.2em;
        background-color: rgb(128, 108, 108);
        border: none;
        width: fit-content;
        padding: .5em;
        border-radius: .5em;
        cursor: pointer;
}

#gran-descuento{
    background-image: url("../img/pink_girl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    width: 90%;
    max-width: 600px;
    height: 12em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3em;

    h3{
        font-size: 1.6em;
    }
    h5{
        font-weight: 400;
    }

    color: white;
    padding-left: 1em;
    
    
}

.pestañas{
    ul{
        display: flex;
        gap: .2em;
        align-items: center;
        li{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgb(128, 128, 128);
        }

        .pestaña-activa{
            background-color: pink;
            width: 10px;
            height: 10px;
        }
    }
}

.color-1{
    background-color: var(--color-oferta-1);
}

.color-2{
    background-color: var(--color-oferta-2);
}

.deal{
    width: 90%;
    max-width: 600px;
    padding-top: .6em;
    padding-bottom: .6em;

    color: white;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .flex-col{
        display: flex;
        flex-direction: column;
    }
    .flex-row{
        display: flex;
        gap: .5em;
    }
    h2{
        font-weight: 400;
    }
    p{
        font-weight: 300;
    }
}



.productos-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1em;

    overflow: auto hidden;
    scrollbar-width: none;
}

.productos-container article{
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3,h5{
        font-weight: 400;
    }
    .precio{
        display: flex;
    }
    img{
        width: 100%;
        border-radius: 8px;
    }
}


.productos-container2{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1em;

    overflow: auto hidden;
    scrollbar-width: none;

    .producto-sm{
        width: 50em;
        
        h5{
            width: 100%;
        }
        img{
            width: 100%;
            border-radius: 8px;
        }

        .precio{
            display: flex;
            font-size: .8em;
        }

        .descuento{
            font-size: .7em;
        }
    }
}



.descuento{
    display: flex;
    gap: .2em;
    h4{
        color: red;
        font-weight: 300;
    }
}

.precio-viejo{
    text-decoration: line-through;
    color: gray;
    display: flex;
}

.puntuacion{
    display: flex;
    align-items: center;
    color: gray;
    font-weight: 300;
    gap: 8px;
    ul{
        display: flex;
        align-items: center;
        gap: .4em;
        .fa-star{
            color: yellow;
            font-size: .7em;
        }
    }
}

.ofertas-especiales{
    background-color: var(--bg-secundario);
    width: 90%;
    max-width: 600px;
    height: fit-content;
    padding-top: .5em;
    padding-bottom: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em;

    img{
        width: 6em;
        border-radius: 50%;
    }
    div{
        width: 70%;
    }
}

.botas{
    background-color: var(--bg-secundario);
    box-shadow: 51px -8px 9px -29px rgba(255,246,62,0.75) inset;
-webkit-box-shadow: 51px -8px 9px -29px rgba(255,246,62,0.75) inset;
-moz-box-shadow: 51px -8px 9px -29px rgba(255,246,62,0.75) inset;
    width: 90%;
    max-width: 600px;
    height: 13em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img-container{
        padding-left: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37%;
        height: 100%;
        img{
            width: 100%;
        }
    }

    .info-botas{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        h3{
            font-size: 1.4em;
            font-weight: 500;
        }
        h5{
            font-size: 1em;
            font-weight: 400;
        }

        gap: 1em;
        .boton-2{
            float: right;
        }
    }
}

nav{
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding-top: .5em;
    border-top: 1px solid rgb(216, 216, 216);

    i{
        font-size: 1.4em;
    }

    .left-nav, .right-nav{
        ul{
            display: flex;
            justify-content: space-around;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5em;
                padding: 1em;
            }
        }
    }

    #carrito{
        position: absolute;
        background-color: white;
        top: 10px;
        border-radius: 50%;
        padding: .5em;
    }

    .active-option{
        color: red;
    }
}